#home {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #141313;
}

header {
    width: 80vw;
    height: 10vh;
    background-color: #2a2a2a;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header > ul {
    width: fit-content;
    height: fit-content;
    /*background-color: deepskyblue;*/
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

header > ul > li {
    list-style: none;
    display: inline-block;
    padding:  10px 50px;
    margin: 10px;
}

header > ul > li > a:hover {
    color: cornsilk;
    font-size: 18px;
}

header > ul > li > a {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #9C9C9C;
    transition-duration: 800ms;

}

header > #media {
    width: 150px;
    height: 30px;
    position: absolute;
    right: 10vh;
    top: 0;
    bottom: 0;
    margin: auto;
    /* background-color: #2efc00; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-me {
    width: 70vw;
    height: 80vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    bottom: 0;
    margin: auto;
    /* border: 2px solid #2efc00; */
}

#contact-me {
    width: fit-content;
    height: 55vh;
    font-family: sans-serif;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /* border: 2px solid red; */
}

#contact-me > h1 {

    font-size: 60px;
}


#contact-me > p {

    font-size: 21px;
    color: #9C9C9C;

}

#contact-me > button {
    width: 230px;
    height: 60px;
    background-color: #075607;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #087b08;
    position: absolute;
    left: 0;
    bottom: 15vh;
    transition-duration: 800ms;
}

#contact-me > button > a {
    font-size: 16px;
    font-weight: bold;
    color: cornsilk;
    text-decoration: none;
}

#contact-me > button > a:hover {
    font-weight: bolder;
}

#contact-me > button:hover {
    background-color: #087b08;
    border: 1px solid #2efc00;
}

#contact-me > label {
    position: absolute;
    font-weight: lighter;
    left: 0;
    bottom: 0;
    margin: auto;
}

#Worked-with {
    width: 70vw;
    height: 8vh;
    /* background-color: #9C9C9C; */
    position: absolute;
    bottom: 1.25vh;
    display: flex;
    justify-content: space-between;
    border: 2px solid #707070;
}

#Worked-with > div {
    height: fit-content;
    width: fit-content;
    /* background-color: aliceblue; */
    position: relative;
    /* border-radius: 5px; */
    /* border: #2a2a2a solid 2px; */
    /* display: flex; */
    /* justify-content: center; */
    margin: auto;
}

#Worked-with > div > label {
    width: fit-content;
    height: fit-content;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: #707070;
    /* background-color: aquamarine; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1vw;
    margin: auto;
}

#Worked-with > div > img {

    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}


#project {
    position: relative;
    width: 100vw;
    height: 200vh;
    background-color: aliceblue;
}

#project > #projects {
    width: 70vw;
    height: 160vh;
    /* border: 2px solid #707070; */
    position: absolute;
    left: 0;
    right: 0;
    top: 30vh;
    bottom: 5vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#project > #projects > div {

    width: 70vw;
    height: 45vh;
    /* border: 2px solid red; */
    position: relative;
}

#project > h1 {

    position: absolute;
    right: 0;
    left: 0;
    top: 3vh;
    margin: auto;
    width: fit-content;
    height: fit-content;
    color: black;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;


}

#project > p {
    position: absolute;
    right: 0;
    left: 0;
    top: 13vh;
    margin: auto;
    width: fit-content;
    height: fit-content;
    color: #9C9C9C;
    text-align: center;
    font-size: 21px;
    font-family: serif;
    font-weight: bold;
}

#project > #projects > div > h1 {

    width: fit-content;
    height: fit-content;
    color: black;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;

}

#project > #projects > div > p {
    
    width: fit-content;
    height: fit-content;
    color: #9C9C9C;
    font-size: 24px;
    font-family: serif;
    font-weight: lighter;
    position: absolute;
}

#project > #projects > div > button {
    width: 350px;
    height: 50px;
    font-size: 21px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
    transition-duration: 800ms;
    border: 1px solid rgb(255, 255, 255);
}

#project > #projects > #smart_school > h1 {
    top: 0;
    left: 0;
}

#project > #projects > #smart_school > p {

    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#project > #projects > #smart_school > button {

    background-color: rgb(165, 148, 53);
    bottom: 2vh;
    left: 0;
}

#project > #projects > #smart_school > button:hover {
    background-color: rgb(231, 200, 24);
}

#project > #projects > #smart_school > img {
    width: 35vw;
    height: 45vh;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
}

#project > #projects > #tic_tac > h1 {
    top: 0;
    right: 0;
}

#project > #projects > #tic_tac > p {
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

#project > #projects > #tic_tac > button {
    background-color: rgb(25, 33, 138);
    bottom: 2vh;
    right: 0;
}

#project > #projects > #tic_tac > button:hover {
    background-color: rgb(20, 33, 223);
}

#project > #projects > #tic_tac > img {
    width: 35vw;
    height: 45vh;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
}

#project > #projects > #m_health > h1 {
    top: 0;
    left: 0;
}

#project > #projects > #m_health > p {

    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#project > #projects > #m_health > button {

    background-color: rgb(36, 173, 144);
    bottom: 2vh;
    left: 0;
}

#project > #projects > #m_health > button:hover {
    background-color: rgb(37, 230, 188);
}

#project > #projects > #m_health > img {
    width: 35vw;
    height: 45vh;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
}

